<%- include('header') %>

<section id="editForm">
    <h2>Edit Car Details</h2>

    <form action="/car/<%= car.id %>/update" method="POST">
        <div class="form-group">
            <label for="make">Make</label>
            <input type="text" class="form-control" id="make" name="make" value="<%= car.make %>">
        </div>
        <div class="form-group">
            <label for="model">Model</label>
            <input type="text" class="form-control" id="model" name="model" value="<%= car.model %>">
        </div>
        <div class="form-group">
            <label for="year">Year</label>
            <input type="number" class="form-control" id="year" name="year" value="<%= car.year %>">
        </div>
        <button type="submit" class="btn btn-primary" style="margin-top: 30px;">Save</button>
    </form>
</section>
</body>
</html>